<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}" />
        <title>GRANDPY BOT</title>
        <meta charset="utf-8">
    </head>

    <body onload="document.getElementById('userQuestion').focus()">
        <div id="title_index">
            <h1>GrandPy Bot</h1>
            <h2>Le papy voyageur</h2>
        </div>
        <h3>Que veut tu savoir ?</h3>
        <form>
            <input type="text" name="question" id="userQuestion" required>
            <input type="button" value="Dit moi tous !" id="submit">
        </form>
        <div id="map"></div>
        <div id="wikiText">
            <p class="text"></p>
            <a class="linkWiki" href="">Pour en savoir plus...</a>
        </div>
        <script src="{{url_for('static', filename='js/index.js')}}" type="text/javascript"></script>
        <script src="{{url_for('static', filename='js/ajaxGet.js')}}" type="text/javascript"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key={{ config['GOOGLE_APP_ID']}}&callback=initMap" async defer></script>
    </body>
</html>
